{% extends 'page_layout.html' %}
{% load crispy_forms_tags %} 
{% block body_header %}{% endblock %}
{% block body_content %}
<div class="row">
	<div class="col-xs-12 col-md-12 text-center" style="margin-top:2%;">
		<h3>Application list</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width:20%">Name</th>
					<th style="width:20%">Email</th>
					<th style="width:20%">Phone</th>
					<th style="width:10%">Years of Experience</th>
					<th style="width:30%">Status</th>
				</tr>
			</thead>
  			<tbody>
  				{% for application in recruit_applications %}
  				<tr>
  					<td>{{application.name}}</td>
  					<td>{{application.email}}</td>
  					<td>{{application.phone}}</td>
  					<td>{{application.years_of_experience}}</td>
  					<td id="id_td_{{application.id}}">
  					{% if application.status == "PENDING" %}
  						<button type="button" class="btn btn-success" onclick="javascript:update_application_status('{{application.id}}', 'APPROVED')">Approve</button> &nbsp;&nbsp;
  						<button type="button" class="btn btn-warning" onclick="javascript:update_application_status('{{application.id}}', 'REJECTED')">Reject</button>
  					{% else %}
  						{{application.get_status_display}}
  					{% endif %}
  					</td>
  					
  				</tr>
  				{% endfor %}
  			</tbody>
		</table>
	</div>
</div>

{% endblock %}
{% block body_footer %}
<script type="text/javascript">

	function update_application_status(application_id, status){
		$.ajax({
			type : 'POST',
			data: {'csrfmiddlewaretoken' : "{{csrf_token}}", "application_id":application_id, "status":status },
			url : "{% url 'admin_recruit_application_update_status' %}",
			complete : function(xhr) {
				jsonstr = xhr.responseText;
            	jsonObj = jQuery.parseJSON(jsonstr);
            	if(jsonObj.result){
            		$("#id_td_"+application_id).html(jsonObj.response_text);	
            	}
            	else{
            		alert("Error, Please Try Again!.")
            	}
			    
			}
		});
	}
</script>
{% endblock %}