{% extends 'page_layout.html' %}
{% load crispy_forms_tags %} 
{% block body_header %}{% endblock %}
{% block body_content %}
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3 text-center" style="margin-top:5%;">
		<h4>Your application submitted successfully.</h4>
        <br/>
        <a href="{% url 'home' %}" class="btn btn-info btn-block btn-lg">Re-Submit</a>
	</div>
</div>

{% endblock %}
{% block body_footer %}{% endblock %}