{% spaceless %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Recuritment Application</title>
<link rel="stylesheet" href="{{MEDIA_URL}}bootstrap-3.3.7-dist/css/bootstrap.min.css" />
<style type="text/css">.container {margin-top: 60px;}</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Recuritment Application</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	{% if request.user.is_authenticated %}
        	<li><a href="{% url 'signout' %}">Logout</a></li>
        {% else %}
        	<li><a href="{% url 'signin' %}">Login</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
{% block body_header %}{% endblock %}
{% block body_content %}{% endblock %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
{% block body_footer %}{% endblock %}
</div>
</body>
</html>
{% endspaceless %}