{% extends 'page_layout.html' %}
{% load crispy_forms_tags %} 
{% block body_header %}{% endblock %}
{% block body_content %}
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<form method="post" enctype="multipart/form-data" novalidate>
                <div>
                	<h4>Admin Login</h4>
                	<div>
                    {% crispy form %}
                    </div>
                    <div class="actions">
                        <button class="btn btn-info btn-block btn-lg btn-submit">Submit Application</button>
                    </div>
                </div>
            </form>
	</div>
</div>

{% endblock %}
{% block body_footer %}{% endblock %}